.popular__area {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 780px;
  background: #f2f2f2;
}

.popular__categories-gallery {
  position: absolute;
  width: 644px;
  height: 459.15px;
  left: 128px;
  top: 88px;
  /* border: 1px solid #000; */
}

.popular__categories-poster1 {
  position: absolute;
  width: 553px;
  height: 322px;
  left: 0px;
  top: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.popular__categories-poster2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  z-index: 3;
}

.popular__categories-rectangle1 {
  box-sizing: border-box;
  position: absolute;
  left: 80px;
  top: 0px;
  width: 480px;
  height: 360px;
  background: #150826;
  border: 1px solid #150826;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.popular__categories-rectangle2 {
  box-sizing: border-box;
  position: absolute;
  left: 16.15%;
  right: 9.32%;
  top: 3.48%;
  bottom: 18.11%;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  border: 1px solid #150826;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popular__categories {
  position: absolute;
  width: 480px;
  height: 248px;
  left: 834px;
  top: 120px;
}

.popular__categories-header {
  position: absolute;
  left: 0px;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  color: #150826;
}

.popular__categories-text {
  position: absolute;
  left: 0px;
  top: 80px;
  font-family: "RobotoFlex", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(21, 8, 38, 0.75);
}

.popular__categories-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 48px;
  gap: 10px;
  position: absolute;
  width: 235px;
  height: 72px;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: 0px solid #000;
}

.popular__categories-button-text {
  width: 139px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
