.product__container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}

.product__image {
  width: 220px;
  height: 340px;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;

  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  /* box shadow: {horizontal} {vertical} {blur} {offset} {color};  */
  margin-bottom: 5px;
}

.product__Top .product__Bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0px;
  gap: 8px;
  /* border: 1px solid #000; */
}

.product__Bottom--line1 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
  align-items: center;
}

.product__Bottom--line2 {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
  align-items: center;
}

.Product__button {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.Product__button:hover {
  background-color: #b882ff;
  color: #fff;
  transition: all 0.2s ease;
}
