.checkout__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.checkout__content {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  /* border: 1px solid #000; */
}

.checkout__left {
  /* border: 1px solid #000; */
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.checkout__right {
  text-align: center;
  border-radius: 2%;
  background: #f6f6f6;
  padding: 2rem;
  /* border: 1px solid #000; */
  height: 550px;
  /* margin-bottom: 4rem; */
}
