.container__right img {
  width: 560px;
}

.poster {
  margin-bottom: 200px;
}

.posters__quote {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: #b882ff;
  /* background: linear-gradient(90deg, #b882ff 0%, #ff9e7d 100%); */
  border-bottom: 1px solid #0000002b;
}

.poster__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 208px;
  gap: 60px;

  /* border: 1px solid #000; */
}
