@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #0000002b;
  z-index: 999;
}

nav {
  display: flex;
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
}

.logo__img {
  width: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  /* border: 1px solid #000; */
}

.nav__item {
  margin-left: 1em;
  font-weight: 700;
}

.nav__item a {
  text-decoration: none;
  color: #000;
}

.logo__name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  color: #150826;

  /* border: 1px solid #000; */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 200px;
}

.search__input {
  height: 3.5rem;
  width: 60%;
  background-image: url("../../DesignAssets/images/Search.png");
  background-repeat: no-repeat;
  background-position: right 2em center;
  background-size: 1.5rem;
}

.cart {
  display: flex;
  text-align: flex-end;
}

.cart img {
}

.cart p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #150826;
}
