@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #0000002b;
  z-index: 999;
  padding: 1em 0;
}

main {
  margin-top: 5rem;
}

nav {
  display: flex;
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
}

.logo__img {
  width: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  /* border: 1px solid #000; */
}

.nav__item {
  margin-left: 1em;
  font-weight: 700;
}

.nav__item a {
  text-decoration: none;
  color: #000;
}

.nav__item a:hover {
  color: #b882ff;
}

.logo__name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  color: #150826;

  /* border: 1px solid #000; */
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 200px;
  margin: 0 1em;
  /* border: 1px solid #000; */
}

.search__input {
  height: 3.5rem;
  width: 100%;
  background-image: url("../../DesignAssets/images/Search.png");
  background-repeat: no-repeat;
  background-position: right 2em center;
  background-size: 1.5rem;
  border-radius: 7px;
  border: 0.5px solid var(--black-50, rgba(21, 8, 38, 0.274));
  padding-left: 1em;
}

.login {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* display: flex;
  align-items: center;
  text-align: center; */
  color: #ffffff;
  border: transparent;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  padding: 0.5em 1.5em;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  display: flex;

  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

.cart img {
  width: 2rem;
}

.cart p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #150826;
  /* border: 1px solid #000; */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.cart__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* This will inherit the color of the parent element and override the default blue color of the link */
}

.header__optionLineOne,
.header__optionLineTwo {
  display: block;
}

.pay {
  margin-top: 1em;
  height: 64px;
  padding: 1rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: white;
}
