.Hero_area {
}

.Hero_Featured {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 80px;
  border: 1px solid #000;
}

.Hero_FeaturedHeader {
  position: absolute;
  width: 480px;
  height: 238.87px;
  left: 136px;
  top: 112px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: -0.015em;
  color: #150826;
}

.Hero_FeaturedText {
  position: absolute;
  width: 428.25px;
  height: 49.77px;
  left: 136px;
  top: 360.83px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(21, 8, 38, 0.75);
}

.Hero_FeaturedButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 48px;
  gap: 10px;
  position: absolute;
  width: 268.92px;
  height: 71.66px;
  left: 136px;
  top: 464.34px;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: 0px solid #000;
}

.Hero_FeaturedButton-text {
  height: 24px;
  left: 25px;
  right: 24px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.Hero_featuredGallery {
  position: absolute;
  width: 732px;
  height: 424px;
  left: 628px;
  top: 168px;
  border: 1px solid #000;
}

.Hero_featuredPoster1 {
  position: absolute;
  width: 234px;
  height: 312px;
  left: 0px;
  top: 0px;
  background: url("../images/Miles_Morales.png");
  border-radius: 3px;
  z-index: 1;
}
.Hero_featuredPoster2 {
  position: absolute;
  bottom: 0;
  left: 226px;
  background: url("../images/Tony_Stark.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
  z-index: 2;
}
.Hero_featuredPoster3 {
  position: absolute;
  width: 234px;
  height: 312px;
  right: 0;
  top: 0;
  background: url("../images/Kang.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
  z-index: 1;
}

.Hero_featuredRectangle1 {
  box-sizing: border-box;
  position: absolute;
  width: 634px;
  height: 317px;
  left: 34px;
  top: 40px;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  z-index: 0;
}

.Hero_Circle1 {
  position: relative;
  width: 60px;
  height: 60px;
  left: 54px;
  top: 96px;
  background: #b882ff;
  border-radius: 100%;
}

.Hero_Circle2 {
}

.Hero_Circle3 {
}

.Hero_Circle4 {
}

.Hero_Circle5 {
}

.Hero_Circle6 {
}

.Hero_Circle7 {
}
