/* .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  gap: 8px;

  width: 232px;
  height: 403.79px;


  flex: none;
  order: 1;
  flex-grow: 0;
} */

/* .product__image {
  width: 220px;
  height: 340px;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .product__info {
  width: 232px;
  height: 52px;
  flex: none;
  order: 1;
  flex-grow: 0;
} */
