.payment__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  /* border: 1px solid #000; */
  padding: 1rem;
}

.payment__contact {
  background: #f6f6f6;
  width: 60%;
  padding: 2rem;
  margin-left: 2rem;
  border-bottom: 1px solid rgba(21, 8, 38, 0.1);
  /* border: 1px solid #000; */
}

.payment__input__container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}

.payment__input__container input {
  height: 64px;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gainsboro;
}

.payment__input__container input:focus,
input:hover {
  outline: none;
  /* give the input a shadow on focus only on the bottom and right make it subtle*/
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.payment__nameInput {
  display: flex;
  width: 100%;
  /* border: 1px solid #000; */
}

.payment__nameInput input {
  width: 100%;
}
