.promotion__area {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 2px;
  top: 1380px;
  background: #ffffff;
}

.promotion__featured {
  position: absolute;
  left: 16.32%;
  right: 51.04%;
  top: 17.17%;
  bottom: 22.33%;
}

.promotion__featured-header {
  position: absolute;
  width: 422px;
  height: 128px;
  left: 0px;
  top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 64px;
  color: #150826;
}

.promotion__featured-text {
  position: absolute;
  width: 369px;
  height: 71px;
  left: 0px;
  top: 153px;
  font-family: "RobotoFlex", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(21, 8, 38, 0.75);
}

.promotion__featured-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 48px;
  gap: 10px;
  position: absolute;
  width: 364px;
  height: 72px;
  left: 0px;
  top: 291px;
  background: #ffffff;
  border: 2px solid #150826;
  border-radius: 100px;
}

.promotion__featured-button-text {
  width: 268px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #150826;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.promotion__featured-gallery {
  position: absolute;
  width: 423px;
  height: 384px;
  left: 769px;
  top: 135px;
}

.promotion__featured-poster1 {
  position: absolute;
  width: 288px;
  height: 384px;
  left: 56px;
  top: 0px;
  z-index: 2;
}

.promotion__featured-rectangle1 {
  position: absolute;
  width: 400px;
  height: 232.68px;
  left: 0px;
  top: 75.32px;
  background: linear-gradient(90deg, #b882ff 0%, #8e35ff 100%);
  z-index: 1;
}

.promotion__featured-rectangle2 {
  position: absolute;
  width: 400px;
  height: 232.68px;
  left: 23px;
  top: 54px;

  /* Black */

  background: #150826;
}
